.wrapper{
  .banner{
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    .container{
      .text_banner{
        padding: 176px 5px 19px 0;
        p{
          margin: 12px 0 5px 0;
        }
      }
    }
  }
  .services{
    background: #F7F7F7;
    padding: 0 0 16px 0;
    .container{
      .box_services{
        display: flex;
        flex-wrap: wrap;
        .box{
          background: #FFFFFF;
          border-radius: 4px;
          display: block;
          max-width: 288px;
          margin: 0 auto 23px;
          picture{
            img{
              width: 100%;
              height: 170px;
            }
          }
          .txt{
            padding: 22px 27px 20px 25px;
            h3{
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 20px;
              color: #13282D;
            }
            p{
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 22px;
              color: #191E1F;
              opacity: 0.6;
              margin: 15px 0 5px 0px;
            }
          }

        }
      }
    }
  }
  .advantages{
    background: #409AAE;
    padding: 0 0 38px 0;
    .container{
      .title{
        padding: 40px 90px 33px 0;
        span{
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 32px;
          color: #FFFFFF;
          display: block;
          opacity: 0.6;
        }
      }
      .box_advantages{
        .box{
          display: flex;
          margin: 0 auto 29px;
          &:nth-child(1){
            picture{
              img{
                width: 49px;
                transform: translate(10px, 3px);
              }
            }
          }
          &:nth-child(2){
            picture{
              img{
                width: 69px;
                transform: translate(-3px,0px);
              }
            }
          }
          &:nth-child(3){
           picture{
             img{
               width: 61px;
               transform: translate(2px,1px);
             }
           }
          }
          &:nth-child(4){
           picture{

             img{
               width: 54px;
               transform: translate(4px,10px);
             }
           }
          }
          picture{
            width: 88px;
            img{


            }

          }
          p{
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            margin: 7px 0 7px 0;
            span{
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: #FFFFFF;
              opacity: 0.5;
              display: block;
            }
          }
        }
      }
      .btn{
        margin: 44px auto 0;
        padding: 20px 10px 20px 10px;
        max-width: 288px;
      }
    }
  }
  .warranty{
    .container{
      .title{
        padding: 40px 0 30px;
      }
      .content{
        .accordion{
          margin: 0px 0 40px;
          h3{
            font-size: 16px;
            font-weight: 400;
            font-style: normal;
            line-height: 20px;
            position: relative;
            display: inline-block;
            margin: 0 0 20px;
            padding: 10px 100px 24px 0;
            cursor: default;
            transition: .5s;
            color: #13282d;

            &:hover{
              transition: 0.5s;
            }
            &.ui-state-active{
              margin: 0 0 0px;
              &:before{
                content: '\e80a';
                color: #ffffff;
                font-family: 'fontello';
                background: #409AAE;
                border: 1px solid #409AAE;
              }
            }
            &:before{
              font-size: 22px;
              width: 32px;
              height: 32px;
              background: #ffffff;
              content: '\e809';
              color: #409AAE;
              position: absolute;
              top: 5px;
              text-align: center;
              font-family: 'fontello';
              font-weight: 100;
              right: 0;
              border: 1px solid rgba(64, 154, 174, 0.32);
              box-sizing: border-box;
              border-radius: 50%;
              line-height: 31px;
            }
            &:after{
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 1px;
              background: #13282D;
              opacity: 0.18;
            }

          }
          .ui-accordion-content{
            height: auto!important;
            p{
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              color: #13282D;
              opacity: 0.8;
            }
          }
        }
      }

    }
    .about_rating{
      background: #409AAE;
      .container{
        .rating_box{
          padding: 20px 0 13px 0;
          display: flex;
          flex-wrap: wrap;
          .box{
            position: relative;
            padding: 23px 0 28px 0;
            width: 100%;
            &:last-child{
              &:before{
                display: none;
              }
            }
            &:before{
              content: '';
              width: 100%;
              height: 1px;
              background: #FFFFFF;
              opacity: 0.2;
              position: absolute;
              left: 0;
              bottom: 0;
            }
            h3{
              font-style: normal;
              font-weight: 500;
              font-size: 28px;
              line-height: 33px;
              color: #FFFFFF;
            }
            p{
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #FFFFFF;
              opacity: 0.7;
            }
          }
        }

      }
    }
  }
  .excellence{
    background: #264F58;
    padding: 0 0 40px 0;
    .container{
      .content{
        ul{
          li{
            font-size: 16px;
            font-weight: 400;
            font-style: normal;
            line-height: 22px;
            position: relative;
            margin: 0 0 22px;
            padding: 0 0 27px 40px;
            color: #fff;
            &:last-child{
              margin: 0 0 15px;
              &:after{
                display: none;
              }
            }
            &:after{
              content: '';
              position: absolute;
              left: 0;
              width: 100%;
              height: 1px;
              background: #FFFFFF;
              opacity: 0.08;
              bottom: 0;
            }
            span{
              position: absolute;
              width: 24px;
              height: 24px;
              border-radius: 50%;
              font-style: normal;
              font-weight: normal;
              font-size: 13px;
              line-height: 24px;
              color: #FFFFFF;
              background: #409AAE;
              text-align: center;
              left: 0;
            }
          }
        }
      }
    }
  }
  .specialists{
    .container{

    }
  }
  .specialists_slider{
    background: #307584;
    .container{
      .title{
        span{
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          color: #FFFFFF;
          opacity: 0.7;
          display: block;
        }
      }
      .specialist_slider{
        .slide{
          background: #409AAE;
          opacity: 0.7;
          border-radius: 8px;
          span{
            font-style: normal;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            display: flex;
            align-items: flex-end;
            color: #FFFFFF;
            opacity: 0.64;
          }
          h3{
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 26px;
            letter-spacing: -0.01em;
            color: #FFFFFF;
          }
          p{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: rgba(255, 255, 255, 0.8);
          }
          .link{
            width: 40px;
            height: 40px;
            border: 1px solid rgba(255, 255, 255, 0.12);
            box-sizing: border-box;
            border-radius: 50%;

          }
        }
      }
    }
  }
  .about_block{
    .container{
      p{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #13282D;
        opacity: 0.64;
      }
    }
  }
}

@media (min-width: 768px){

}
@media (min-width: 1024px){

}
@media (min-width: 1280px){

}
@media (min-width: 1400px) {


}
@media (min-width: 1920px) {

}