<footer>
    <div class="container">
        <div class="accordion" id="accordionFooter">
            <h3>Staffbe</h3>
            <div>
                <h3>Staffbe</h3>
                <ul>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Статьи</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Карта сайта</a></li>
                </ul>
            </div>
            <h3>Работодателю</h3>
            <div>
                <h3>Работодателю</h3>
                <ul>
                    <li><a href="#">ИТ рекрутинг</a></li>
                    <li><a href="#">ИТ аутсорсинг</a></li>
                    <li><a href="#">ИТ аутсаффинг</a></li>
                </ul>
            </div>
            <h3>Соискателю</h3>
            <div>
                <h3>Соискателю</h3>
                <ul>
                    <li><a href="#">Найти работу</a></li>
                    <li><a href="#">Увеличить зарплату</a></li>
                </ul>
            </div>
            <h3>Помощь и правила</h3>
            <div>
                <h3>Помощь и правила</h3>
                <ul>
                    <li><a href="#">Пользовательское соглашение</a></li>
                    <li><a href="#">Обработка персональных данных</a></li>
                    <li><a href="#">ЧАВО</a></li>
                    <li><a href="#">Напишите нам</a></li>
                </ul>
            </div>
        </div>
        <ul class="social">
            <li><a href="#"><i class="icon-vector"></i> </a></li>
            <li><a href="#"><i class="icon-instagram"></i> </a></li>
            <li><a href="#"><i class="icon-groupin"></i> </a></li>
        </ul>
        <div class="footer_logo">
            <h3>0+</h3>
            <p>
                Информация, представленная на сайте, не может быть использована для постановки диагноза, назначения лечени  и не заменяет прием врача.
            </p>
        </div>
        <p class="about">Все права защищены 2020 © staffbe.com</p>
    </div>
</footer>