<div class="signPopup animated ">
    <div class="close"></div>
    <div class="sign__popup ">
        <div class="content">
            <div class="block_form">
                <img src="img/logo.png">
                <h2 class="title">Sign In</h2>
                <form>
                    <div class="input_box">
                        <label>Login</label>
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="input_box">
                        <label>Password</label>
                        <input type="text" placeholder="Password">
                    </div>
                    <a href="#" class="password">Forgot Password?</a>
                    <div class="button_box">
                        <button class="signIn">Sign in</button>
                        <button class="chancel">Chancel</button>
                        <div class="registration">
                            <p>Don’t have an account?</p>
                            <button class="account">Create an Account</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
